*{font-family: 'josefin', cursive;}
.imgDiv {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-fluid{
  height: 35vh;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 10px 2px lightgray;
}
.shopingCard{
  box-shadow: 1px 1px 30px 2px lightgray;
}
.inputClass{
  width: 2.2rem;
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fnt{
  font-family: 'josefin', cursive;
  color: gray;
}
.trashClass:hover{
  cursor: pointer;
  color:green;
}
.heartClass:hover{
cursor: pointer;
color:red;
}
.rightSide{
  box-shadow: 1px 1px 10px 2px lightgray;
}
.disCount{box-shadow: 1px 1px 10px 2px lightgray;
}
.setQuantity{
  position: relative;
}
.setQuantity::before{
	content: "minimun 1 piece";
	position: absolute;
	top: 2.5rem;
	left: 5.4rem;
	color: rgb(238, 36, 137);
	font-size: 0.9rem;
}
.page-link:focus{
box-shadow: none;
}
.fa-trash:hover{
  color: green;
  cursor: pointer;
}
.fa-heart:hover{
  color: red;
  cursor: pointer;
}


